body
  background-color $body-background-color
  font-size $body-font-size
  font-family $gothic
  line-height: $body-line-height
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing  grayscale

h1, h2, h3
  a
    color $body-font-color
    &:hover
      color $body-font-color
      text-decoration none
