$screen-width-lg = 1200px
$screen-width-md = 992px
$screen-width-sm = 768px
$screen-width-xs = 480px

$main-width = 800px
$main-color = #393
$text-link-color = #337ab7

$body-font-size = 17px
$body-font-color = #555
$body-line-height = 1.8
$body-background-color = #fafafa

$navbar-height = 92px
$navbar-background-color = #fafafa
$navbar-hover-background-color = #ddd
$navbar-title-color = #222
$navbar-font-color = #444

$headline-background-color = #eaeaea

$markdown-margin-bottom = 1.5em

$gothic = "Helvetica Neue", "Helvetica", "Arial", "Lucida Grande", "Tahoma",
          "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN",
          "メイリオ", "Meiryo", "ＭＳ Ｐゴシック", sans-serif

$mincho = "Times New Roman", "游明朝", "YuMincho",
          "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN",
          "MSP明朝", "MS PMincho", "MS 明朝", serif
