.module-about

  &__overview
    clearfix()

    img.avator
      display inline-block !important
      margin 0 10px 0 0 !important
      width 50px
      border-radius 50px

    strong
      font-size 1.2em
      font-weight normal
