.module-profile

  &__avatar
    float left
    width 80px

    img
      width 80px
      border-radius 80px

    small
      display block
      margin-top 0.4em
      text-align center

  &__text
    margin-left 105px

    h3
      display inline-block
      margin-top 0.4em
      margin-bottom 0.5em
      font-size 1.15em
      font-weight bold
      &:first-letter
        color $main-color

    p
      font-size 0.85em
      margin-bottom 1em
      white-space nowrap


    ul
      margin 0
      padding 0
      list-style none
      li
        display inline-block
        margin-right 1.1em
        a
          color #454545

