.module-sharelink

  &__list
    overflow hidden
    width 250px
    margin 1em auto
    padding 0
    border none
    list-style-type none
    //@media (min-width: $screen-width-xs)
    //  width 410px

    li
      overflow hidden
      float left
      text-align center
      height 71px
      margin 0 8px
      padding 0

    &-twitter
      width 75px

    &-facebook
      width 71px

    &-line
      width 50px
      //@media (min-width: $screen-width-xs)
      //  display none

      img
        border none
        margin 0 auto
        padding 0
        width 36px
        height 60px
