.layout-404
  margin-bottom 20px

  .container
    max-width $main-width

  &__message
    margin-top 44px
    margin-bottom 100px
    text-align center
    line-height 1.2

    &-english
      font-family Impact
      font-size 50px
      color #aaa

    &-japanese
      font-family Impact
      font-size 18px
      color #666

    &-detail
      margin-top 44px
      color #666

  &__recent
    h2
      font-weight normal
