.layout-footer
  padding-top 50px
  padding-bottom 20px
  background-color #454545
  color #eee

  a
    color #eee

  h3
    font-family: Georgia
    font-weight bold
    font-size 21px
    margin-top 0.7em
    margin-bottom 0.9em

  &__poweredby, &__recent, &__tagcloud
    padding-bottom 36px

  @media (max-width: $screen-width-sm)
    position relative
    padding-bottom 400px
    &__poweredby
      position absolute
      width 100%
      bottom 0
      
