.layout-headline-single
  padding-top 75px
  padding-bottom 55px
  margin-bottom 30px
  background-color $headline-background-color
  @media (max-width: $screen-width-sm)
    padding-top 35px
    padding-bottom 25px

  .container
    max-width $main-width

  &__title
    margin-bottom 60px
    color #444

    h1
      line-height 1.4

  &__meta
    margin-right 20px
    margin-bottom 20px

    ul
      list-style none
      padding 0
      li
        display inline-block
        margin-right 1em
        white-space nowrap
        i
          margin-right 0.5em
        img
          margin-right 0.4em
          margin-bottom 5px
          border-radius 27px
          width 27px
          image-grayscale()

  &__taxonomies
    margin-bottom 10px

    ul
      display block
      margin 0
      padding 0
      list-style none

      li
        display inline-block
        margin-right 0.5em
        margin-bottom 0.5em

        a
          white-space nowrap
          color #fff
          text-decoration none

  &__body
    margin-bottom 30px

  &__share
    padding-top 20px
    padding-bottom 15px
    margin-bottom: 30px
    background-color #eed

  &__comment
    margin-bottom 50px
